body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}

.content {
    width: 600px;
    margin: 0 auto;
}

.intro {
    margin: 150px 0 90px;
}

p {
    font-size: 22px;
    text-align: center;
    line-height: 20px;
}

.highlight {
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.highlight-red {
    background-color: darkred;
    color: white;
}

table {
    margin: 0;
    float: right;
}

img {
    width: 100px;
    border-radius: 50%;
    margin-right:  15px;;
}