body {
	margin: 0;
	padding: 0;

	background-color: #000000;													/*	эти три параметра	*/
	background: rgba(0, 0, 0, .65) url("20191015_184128.jpg"); 			/*	затемняют		*/
	background-blend-mode: darken;												/*	фон на 0.65	*/
	background-size: cover;
	background-repeat: no-repeat;
}

/*	15.08.19 время: 2:08	*/
/*	добавил фон и затемнил его	*/


